.cartitems{
    margin: 50px 120px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 65px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
   font-size: 16px;
   font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 25px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-down{
    display: flex;
    margin: 60px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 30px;
}
.cartitems-total-item{
    display: flex;
    justify-content:space-between;
    padding: 15px 0px;
}
.cartitems-total-item-total{
      display: flex;
    justify-content:space-between;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 700;
}
.cartitems-total button{
    width: 252px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 20px;
}
.cartitems-promobox{
    display: flex;
    align-items: center;
    width: 450px;
    margin-top: 15px;
    padding-left: 20px;
    height: 55px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-optical-sizing: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 150px;
    height: 55px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}