.hero {
  height: 90vh; 
  background: #F2E9E4;
  display: flex;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 90%;
  object-fit: cover;      
  object-position: center; 
  margin-left: 52px;
 margin-top: 30px;
}
