.shopcategory-banner{
    display: flex;
    margin: 30px auto;
    width: 82%;
  
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 15px;
    border: 1px solid #888;
    cursor: pointer;
    background: white;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 30px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    margin-top: -1px;
}
.shopcategory-products img{
    border: 1px solid black;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 223px;
    height: 69px;
    border-radius: 75px;
    background: #d0cccc;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 130px;
}
.shopcategory-loadmore:hover{
    background: #b9b6b6;
}
@media(max-width:500px){
   .shopcategory-loadmore{
     width: 135px;
     height: 45px;
      font-size: 14px;
      margin-top: 100px;
      margin-bottom: 30px;
   }
   .shopcategory-indexSort{
    margin: 0px 30px;
    font-size: 14px;
    margin-bottom: -30px;
   }
   .shopcategory-sort{
    padding: 5px 10px;
    font-size: 12px;
   }
   .shopcategory-products{
    row-gap: 60px;
   }
}