.shopcategory-banner{
    display: flex;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 30px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 223px;
    height: 69px;
    border-radius: 75px;
    background: #d0cccc;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 130px;
}
.shopcategory-loadmore:hover{
    background: #b9b6b6;
}