.item{
    width: 330px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: -70px;
}
.item img{
    width: 330px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c; 
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 1s;
}
@media(max-width:1280px){
    .item{
        width: 280px;
        font-size: 14px;
    }
    .item img{
        width: 270px;
    }
    .item-price-old{
        font-size: 16px;
    }
}
@media(max-width:1024px){
    .item{
        width: 200px;
        font-size: 13px;
    }
    .item img{
        width: 200px;
    }
    .item-price-old{
        font-size: 14px;
    }
    .item-price-new{
        font-size: 16px;
    }
}
@media(max-width:800px){
    .item{
        width: 150px;
        font-size: 12px;
    }
    .item img{
        width: 150px;
    }
    .item-price-old{
        font-size: 13px;
    }
    .item-price-new{
        font-size: 15px;
    }
}
@media(max-width:500px){
    .item{
        width: 100px;
        font-size: 11px;
        margin-left: -6px;
    }
    .item img{
        width: 100px;
    }
    .item-price-old{
        font-size: 11px;
    }
    .item-price-new{
        font-size: 13px;
    }
}
@media(max-width:412px){
    .item{
        width: 80px;
        font-size: 10px;
        margin-left: -6px;
    }
    .item img{
        width: 80px;
    }
    .item-price-old{
        font-size: 10px;
    }
    .item-price-new{
        font-size: 12px;
    }
}