.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgb(189, 183, 185);
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}
.nav-logo img{
   width: 70px;
   margin-left: 30px;
   transform: scale(1.7);
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 16px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color: #e6e6e6;
  height: 40px;
  width: 550px;
  border-radius: 5px;
  margin-left: 7px;
}

.search-select{
  background-color: #e0dede;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  cursor: pointer;
}

.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-left: 10px;
}

.search-icon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: rgb(242, 133, 71);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: hsl(180, 6%, 6%);
  cursor: pointer;
}

.nav-search:hover{
  border: 2px solid rgb(242, 133, 71);;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}
.nav-login-cart button{
    width: 130px;
    height: 45px;
    outline: none;
    border: 2px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:hover{
    background: #f2f0f0;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -35px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-dropdown{
    display: none;
}
@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
        height: 60px;
    }
    .nav-logo img{
      width: 60px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-logo img{
      width: 55px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart{
        gap: 25px;
    }
    .nav-login-cart img{
        width: 35px;
    }
    .nav-login-cart button{
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
    .nav-cart-count{
       width: 18px;
       height: 18px;
    }
}
@media(max-width:800px){
    .navbar{
        padding: 12px 0px;
    }
    .nav-dropdown{
       display: block;
       width: 30px;
       rotate: -90deg;
       transition: 0.5s;
    }
    .nav-logo img{
      width: 50px;
    }
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: rgb(243, 241, 240);
        justify-content: center;
        top: 70px;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}
@media(max-width:500px){
    .navbar{
        width: 8px 0px;
        height: 40px;
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}
