.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: rgb(22, 36, 46);
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 30px;
}
.footer-logo img{
   width: 150px;
   transform: scale(1.7);
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
   display: flex;
   gap: 20px; 
   cursor: pointer;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: white;
    font-size: 20px; 
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media(max-width:500px){
    .footer-logo{
    margin-top: 10px;
}
.footer-logo img{
   width: 70px;
   transform: scale(1.7);
   margin-bottom: -40px;
}
.footer-links{
    gap: 20px;
    font-size: 15px;
    margin-right: 40px;
    margin-bottom: -30px;
}
.footer-social-icon{
   display: flex;
   gap: 10px; 
   cursor: pointer;
   margin-bottom: -30px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-icons-container img{
   height: 20px;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    font-size: 10px; 
}
}