.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 20px;
    background: #213343;
    margin-top: -30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 1);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #2fadc3;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: #2fadc3;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;;
}
.offers-right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.offers-right img{
    height: 429px;
    margin-bottom: 40px;
}