.productdisplay{
    display: flex;
    margin: 0px 100px;
    margin-bottom: 40px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    height: 113px;
}
.productdisplay-main-img{
    width: 386px;
    height: 500px;
}
.productdisplay-right{
    margin: 0px 60px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 11px;
    gap: 5px;
    color: #1c1c1c;
    font-display: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 30px 0px;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 30px;
    color: #656565;
    font-size: 16px;
    font-weight: 600;
}